[flake8]
# For more information: https://flake8.pycqa.org/en/latest/user/error-codes.html
# This ignores the following errors/warnings, that black already fixes
# E501: line too long (82 > 79 characters)
# E731: do not assign a lambda expression, use a def
# E203: whitespace before :
# E231: missing whitespace after ','
# E266: too many leading # for block comment
# W503: line break before binary operator
# F403: from module import * used; unable to detect undefined names
# F401: `module` imported but unused
; ignore = E402,E302,E305,E501,E401,E731, W503, E231
ignore = E501, E731, W503, E203
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist
max-line-length = 100
max-complexity = 18
[black]
max-line-length = 100
